{% extends './plantillaPrin.html' %}
{% load static %}
{% block contenido %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/1.jpg' %}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Capacitación Tecnológica de Excelencia</div>
								<h2 class="hs-title">Una inversión en conocimiento siempre paga el mejor interés.</h2>
								<p class="hs-des">La capacitación técnica no se trata solo de asistir a un curso y obtener un certificado.<br> Se trata de ampliar tus conocimientos y mantenerte actualizado en un mundo tecnológico en constante cambio.</p>
								<a href="/listadoCursos/" class="site-btn">VER CURSOS</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static 'img/hero-slider/2.jpg' %}">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Capacitación Tecnológica de Excelencia</div>
								<h2 class="hs-title">El conocimiento es poder, certifícate y demuéstralo.</h2>
								<p class="hs-des">Gestiona tu formación, matricúlate en los cursos disponibles y obtén tu<br> certificado de aprobación validado con código QR.</p>
								<a href="/registrarMatricula/" class="site-btn">MATRICÚLATE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Counter section  -->
	<section class="counter-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-6">
					<div class="big-icon">
						<i class="fa fa-graduation-cap"></i>
					</div>
					<div class="counter-content">
						<h2>PRÓXIMO CURSO: Redes y Cableado Estructurado</h2>
						<p><i class="fa fa-calendar-o"></i>19:00 - 21:00</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6">
					<div class="counter">
						<div class="counter-item"><h4>20</h4>Días</div>
						<div class="counter-item"><h4>08</h4>Hrs</div>
						<div class="counter-item"><h4>40</h4>Min</div>
						<div class="counter-item"><h4>56</h4>Seg</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Counter section end -->


	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>NUESTROS SERVICIOS</h3>
				<p>Brindamos las herramientas para impulsar tu desarrollo profesional</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/1.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Diseño y Multimedia</h4>
						<p>Cursos enfocados en diseño gráfico, edición y herramientas multimedia para el área tecnológica.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/2.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Infraestructura Tecnológica</h4>
						<p>Instalaciones y equipos adecuados para una formación práctica y de calidad.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/3.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Laboratorios Prácticos</h4>
						<p>Espacios diseñados para que pongas en práctica lo aprendido en cada curso.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/4.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Instructores Certificados</h4>
						<p>Profesionales con experiencia comprobada en el área tecnológica que imparten cada curso.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/5.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Horarios Flexibles</h4>
						<p>Cursos adaptados a tu disponibilidad para que puedas capacitarte sin contratiempos.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'img/services-icons/6.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Certificación con Código QR</h4>
						<p>Recibe tu certificado de aprobación con validación digital mediante código QR.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	
	<!-- Enroll section -->
	<section class="enroll-section spad set-bg" data-setbg="{% static 'img/enroll-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="section-title text-white">
						<h3>MATRÍCULA</h3>
						<p>Sigue estos sencillos pasos para certificarte</p>
					</div>
					<div class="enroll-list text-white">
						<div class="enroll-list-item">
							<span>1</span>
							<h5>Regístrate</h5>
							<p>Completa tu registro como técnico ingresando tus datos personales y de contacto.</p>
						</div>
						<div class="enroll-list-item">
							<span>2</span>
							<h5>Elige tu Curso</h5>
							<p>Explora el catálogo de cursos disponibles y matricúlate en el que se ajuste a tu especialidad.</p>
						</div>
						<div class="enroll-list-item">
							<span>3</span>
							<h5>Obtén tu Certificado</h5>
							<p>Al aprobar el curso, genera tu certificado digital validado con código QR.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
					<img src="{% static 'img/encroll-img.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- Enroll section end -->


	<!-- Courses section -->
	<section class="courses-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h3>NUESTROS CURSOS</h3>
				<p>Impulsando tu carrera profesional, un curso a la vez</p>
			</div>
			<div class="row">
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/1.jpg' %}" alt="">
						<div class="course-cat">
							<span>REDES</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 15 Jul 2026</div>
						<h4>Redes y Cableado<br>Estructurado</h4>
						<h4 class="cource-price">40<span> horas</span></h4>
					</div>
				</div>
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/2.jpg' %}" alt="">
						<div class="course-cat">
							<span>SEGURIDAD</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 20 Jul 2026</div>
						<h4>Fundamentos de<br>Ciberseguridad</h4>
						<h4 class="cource-price">30<span> horas</span></h4>
					</div>
				</div>
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/3.jpg' %}" alt="">
						<div class="course-cat">
							<span>DISEÑO</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 01 Ago 2026</div>
						<h4>Diseño Web<br> y UX/UI</h4>
						<h4 class="cource-price">35<span> horas</span></h4>
					</div>
				</div>
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/4.jpg' %}" alt="">
						<div class="course-cat">
							<span>BASES DE DATOS</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 10 Ago 2026</div>
						<h4>Administración de<br>Bases de Datos</h4>
						<h4 class="cource-price">25<span> horas</span></h4>
					</div>
				</div>
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/5.jpg' %}" alt="">
						<div class="course-cat">
							<span>PROGRAMACIÓN</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 18 Ago 2026</div>
						<h4>Desarrollo Web<br>con Python</h4>
						<h4 class="cource-price">45<span> horas</span></h4>
					</div>
				</div>
				<!-- course item -->
				<div class="col-lg-4 col-md-6 course-item">
					<div class="course-thumb">
						<img src="{% static 'img/course/6.jpg' %}" alt="">
						<div class="course-cat">
							<span>SOPORTE</span>
						</div>
					</div>
					<div class="course-info">
						<div class="date"><i class="fa fa-clock-o"></i> 25 Ago 2026</div>
						<h4>Soporte Técnico y<br>Mantenimiento de Equipos</h4>
						<h4 class="cource-price">20<span> horas</span></h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Courses section end-->
{% endblock %}