{% extends "./plantillaPrin.html" %}
{% block contenido %}

<center>
    <br>
    <h1> <b>Técnicos Registrados</b>
        <!--<a href="/nuevoTecnico/" class="btn btn-info"> <i class="ti-plus"></i>
            Agregar Nuevo</a>-->
    </h1>
    <hr>
</center>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id="tbl_tecnicos" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>CÉDULA</th>
                    <th>CORREO</th>
                    <th>ESPECIALIDAD</th>
                    <th>FOTO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for tecnicoTemporal in misTecnicos %}
                <tr>
                    <td>{{ tecnicoTemporal.id }}</td>
                    <td>{{ tecnicoTemporal.nombres }}</td>
                    <td>{{ tecnicoTemporal.apellidos }}</td>
                    <td>{{ tecnicoTemporal.cedula }}</td>
                    <td>{{ tecnicoTemporal.correo }}</td>
                    <td>{{ tecnicoTemporal.especialidad }}</td>
                    <td class="text-center">
                        {% if tecnicoTemporal.foto %}
                            <a href="{{ tecnicoTemporal.foto.url }}" target="_blank">
                                <img src="{{ tecnicoTemporal.foto.url }}"
                                style="height:40px; width:40px; border-radius:100px;">
                            </a>
                        {% else %}
                            <b>N/A</b>
                        {% endif %}
                    </td>
                    <td>
                        {% if tecnicoTemporal.foto %}
                            <a title="Ver Imagen" class="btn btn-outline-info" href="{{ tecnicoTemporal.foto.url }}" target="_blank">
                                <i class="ti-image"></i>
                            </a>
                            <a title="Descargar Imagen" class="btn btn-outline-dark" href="{{ tecnicoTemporal.foto.url }}" download>
                                <i class="ti-download"></i>
                            </a>
                        {% else %}
                            <a title="No hay imagen disponible" class="disabled btn btn-outline-info" href="javascript:void(0)">
                                <i class="ti-image"></i>
                            </a>
                            <a title="No hay imagen disponible" class="disabled btn btn-outline-dark" href="javascript:void(0)">
                                <i class="ti-download"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    new DataTable('#tbl_tecnicos', {
        layout: {
            topStart: {
                buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
            }
        },
    });
</script>
{% endblock %}