{% extends "./plantillaPrin.html" %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br><br>
            <h1><b>Iniciar Sesión</b></h1>
            <hr>
            <form id="form_login" action="/login/" method="post">
                {% csrf_token %}
                <b>Usuario:</b> <br>
                <input placeholder="Ingrese su usuario" class="form-control" type="text" name="username">
                <br>
                <b>Contraseña:</b> <br>
                <input placeholder="Ingrese su contraseña" class="form-control" type="password" name="password">
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <br>
                <button class="btn btn-success btn-block" type="submit">
                    <i class="ti-unlock"></i> Ingresar</button>
                <br>
                <a href="/registroTecnico/" class="btn btn-secondary btn-block">
                    <i class="ti-user"></i> Registrarme como Técnico</a>
            </form>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}